<h1>Enter new track:</h1>

<div class = "enter-track">
    <%= form_for (@new_track) do |t| %>
       <div class = "new-name">
            <div class = "title">
                <%= t.text_field :name, placeholder: "Name" %>
            </div>
            <div class = "artist">
                <%= t.text_field :artist, placeholder: "Artist" %>
            </div>
            <div class = "album">
                <strong><%= t.text_field :album, placeholder: "Album" %></strong>
            </div>  
            <div class = "year-written">
                <%= t.text_field :year_written, placeholder: "Year" %>
            </div>  

             <div class = "space">
                <%= t.submit "Enter Track"%>
            </div>  

<!--             <%= check_box_tag(:classical) %>
            <%= label_tag(:classical, "Classical") %>
            <%= check_box_tag(:rock) %>
            <%= label_tag(:rock, "Rock") %>
            <%= check_box_tag(:electronica) %>
            <%= label_tag(:electronica, "Electronica") %> -->


        </div>      
    <% end %>
</div>

<div class = "display-tracks">

    <% @all_tracks.each do |t| %>
        <p class = "main-info"><strong><%= link_to t.name, track_path(t) %> </strong> by <em><%= t.artist %></em></p>
        <p class = "supporting-info"><%= t.album %>, <%=  t.year_written %></p>
    <% end %>
</div>